*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

 nav{
    background-color: #303030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0px;
    height: 70px;    
    height: auto;
    transition: all 300ms ease-in-out;
 }

.wrapper {
    width: 89%;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
}
.nav-links {
    width: 50%;
}

.nav-button {
    width: 30%;
}

.wrapper .logo + ul {
    display: inline-flex;
    gap: 0px 20px;
}


.wrapper .nav-button ul {
    display: inline-flex;
}


.logo {
    width: 20%;
    height: 32px;
}

.logo > a > img {
    width: 162px;
    height: 32px;
}


.nav-links li a , .nav-button  a{
    color: #fff;
    text-decoration: none;
     padding: 15px 0px;
}


.nav-links > li> a{
    padding: 20px 0px;
}



.logo + ul ,.nav-button ul{
    list-style-type: none;
}

.logo > a:nth-child(2){
    display: none;
}


.nbtn-link a{
    border: 1px solid #fff;
    padding: 5px 11px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 800;
}




.nbtn-link1 a{
    color: #303030;
    font-weight: 800;
     font-size: 12px;
    background-color: white;
    border: 1px solid #fff;
    padding: 7px 7px;
    margin-left: 8px;
}


.nbtn-link a:hover{
    background-color: #444343;
    border: 1px solid #444343;
    transition: border 100ms linear 200ms;
    transition: background-color 100ms linear 200ms;
}

.nbtn-link1 a:hover {
    background-color: #444343;
    color: white;
    border: 2px solid #444343;
    transition: border 100ms linear 200ms;
    transition: background-color 100ms linear 200ms;
    transition: color 100ms linear 200ms;
    
}




.fa-chevron-down{
   font-size: 6px;
}


 .product-menu{
    position: absolute;
    top: 50px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
} 

.content{
    width: 95%;
    height: 320px;
    padding: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.content > .row{
   border-right: lightgray;
   border-right-style: solid;
   border-right-width: 1px;
}

.content > .row:nth-child(3){
    border: none;
}




.nav-links > li:hover .product-menu{
    visibility: visible;
    opacity: 1;
}

.content{
    display: flex;
    background-color: #ffffff;
}

.content > .row{
  width: 33.33%;
  padding: 14px;
}
.content .row > ul>li {
    list-style-type: none;
}

.content p{
    color: #303030;
}

.row-head > a>p{
    text-decoration: underline;
    color: #303030;
}

.row-img {
    width: 80%;
    margin: auto; 
    margin-top: 20px; 
}


.row-img img {
    width: 100%;
}


.row  p {
    font-size: 13px;
}

.row-head > p{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.row-head > :nth-child(2){
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 400;
}


.mega-links > li{
  margin-bottom: 20px;
}

.mrl {
    margin-right: 10px;
}

.min {
   margin-left: 2px;
   font-size: 7px;
   background-color: #fab702;
   padding: 2px;
}


.min1{
    margin-left: 2px;
    font-size: 7px;
    background-color: #00dba1;
    padding: 2px;
}

.row > ul > li  p:hover {
    color: #0041C2;
}






.solution-menu {
    position: absolute;
    top: 50px;
    z-index: 999;
    visibility: hidden;
    width: 45%;
    opacity: 0;  
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}



.solution-content{
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

.solution-content > .row {
    width: 50%;
    padding: 15px 20px;
    border-right: lightgray;
    border-right-style: solid;
    border-right-width: 1px;    
}  


.solution-content > .row:nth-child(2){
   border: none;
}

.solution-content > .row a:hover{
   color: #0041C2;
}


.row > ul > li {
    list-style-type: none;
}

.row> ul > li a{
    color: #303030;
}

.solution-content > .row > h3{
    margin-bottom: 20px;
    font-size: 13px;
    color: #303030;
}




.solution-content > .row >ul li{
    margin-bottom: 20px;
}


.nav-links > li:hover .solution-menu{
    visibility: visible;
    opacity: 1
}


.learn-menu{
    position: absolute;
    width: 95%;
    top: 50px;
    left: 0px;
   visibility: hidden;
   opacity: 0;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   background-color: #ffffff;
}

.nav-links >li:hover .learn-menu{
    visibility: visible;
    opacity: 1;
}


.learn-content{
    display: flex;
    height: 300px;
}

.learn-content > .row{
    width: 45%;
    padding: 20px 8px;
    border-right: lightgray;
    border-right-style: solid;
    border-right-width: 1px;    
}

.learn-content h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #303030;
}


.learn-content a {
    font-size: 13px;
    font-weight: 500;
}

.learn-content a:hover {
 color: #0041C2;
}

.learn-content >.row >ul li {
    margin-bottom: 15px;
}


.row-learn {
    margin-bottom: 40px;
}
.row-learn > p{
    font-size: 9px;
    color: #303030;
    font-weight:400;
    line-height: 1.66;
}

.learn-content .row-learn {
    margin-bottom: 20px;
}


.row-learn > p:nth-child(3){
   margin-top: 20px;
   text-decoration: underline;
   margin-bottom: 20px;
   font-size: 10px;
   color: #303030;
} 

.row-im {
    width: 80%;
    margin: auto;
}


.row-im > img {
    width: 100%;
}

.row-learn > a > p {
    color: black;
    text-decoration: underline;
    margin-top: 20px;
}

.row-learn > a > p:hover {
  color: #0041C2;
}

.fa-bars{
    display: none;
}

.black-hero{
    margin-top:  71px;
    width: 100%;
    background-color: #303030;
    background-image: url("https://unbounce.com/photos/New-banner_2x_cropped_top.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85% center;
    height: auto;
    padding-bottom: 30px;
    padding-top: 40px;
}


.container{
    display: flex;
    width: 92%;
    margin: auto;
    height: auto; 
}

.container > div{
    width: 55%;
    padding: 0px 40px;
}

.container > div h1{
   width: 380px;
   line-height: 58px;
   font-size: 40px;
   color: #fff;
   margin-bottom: 50px;
}


.container div > p{
    color: white;
    font-weight: 100;
    margin-bottom: 50px;
    font-size: 15px;
    /* width: 450px; */
    /* border: 1px solid red; */
}


.btn >:nth-child(1){
    border: 3px solid #ffa1a1;
    padding: 15px 28px;
    text-decoration: none;
    color: #ffa1a1;
    border-radius: 2px;
    font-size: 17px;
    margin-right: 10px ;
    transition:background-color 500ms ease 100ms ;
}


.btn {
    width: 100%;
    height: auto;
    gap: 20px 0px;
    display: flex;
    /* flex-wrap: wrap; */
}

.btn >:nth-child(1):hover{
   background-color: #ffa1a1;
   color: black;
   transition:  color 200ms ease 30ms;

}


.btn >:nth-child(2){
    border: 3px solid #ffce00;
    padding: 15px 50px;
    text-decoration: none;
    color: #ffce00;
    border-radius: 2px;
    font-size: 17px;
    margin-right: 10px  ;
    transition:background-color 500ms ease 100ms ;
}


.btn >:nth-child(2):hover{
    background-color: #ffce00;
    color: black;
    transition: background-color 25s ease 2s;
    transition:  color 200ms ease 30ms;
   
}


.con-img{
    display: none;
}


.wrap {
    background-color: #0033ff;
    height: 100%;
}


.section {
    display: flex;
    width: 89%;
    margin: auto;
    height: auto;
    padding-bottom: 40px;
}


.section  > div {
    width: 43%;
    height: 100%;
    margin: auto;
}



  .section-img {
  width: 100%;
}

.section-img > img{
    width: 90%;
}

.sec-text > :nth-child(1){
  width: 85px;
  padding: 6px  4px;
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  color: #303030;
  font-size: 11px;
  margin-bottom: 20px;
}


.sec-text h1{
    color: #fff;
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.25;
}

.sec-text >:nth-child(3){
    color: white;
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 1.65;
}

.sec-text >:nth-child(4){
    color: white;
}





.mid-logo{
    width: 32px;
}



.mid-section{
    width: 89%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: lighter;
}

.mid-section > h2{
    text-align: center;
    color: #303030;
    font-size: 40px;
    margin-bottom: 20px;
}

.mid-section > p {
    font-size: 13px;
   width: 650px;
   margin: auto;
   text-align: center;
   font-weight: 200;
   color: #303030;
   line-height: 1.40;
   margin-bottom: 20px;
}

.mid-container{
    display: flex;
 }

 .mid-container > div{
    width: 32%;
    margin: auto;
    padding: 0px 28px;
 }
 .mid-container >div > h4 {
    color: #303030;
    font-size: 18px;
    font-weight:500;
    margin-bottom: 20px;
 }


 .mid-container > div > p {
    color: #303030;
    line-height: 1.65;
    font-size: 13px;
    padding-bottom: 35px;
 }


 .mid-container > div > span {
    font-family: sans-serif;
 }


 .mid-container > div >.mid-logo {
   margin-bottom: 15px;
 }


 .mid-container > div > span {
    color: #303030;
 }


 .mrl {
    margin-right: 9px;
    font-size: 12px;
 }

 .get-more-customer {
    color: #303030;
    width: 89%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding-bottom: 50px;
 }



 .get-more-customer > h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
 }
 
 .get-more-customer > p {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    width: 630px;
    margin: auto;
    margin-bottom: 180px;
 }

 .get-container {
    display: flex;
    height: 100%;
    margin: auto;
 }


 .get-container > div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-bottom: 30px;
    width: 28%;
   margin: auto;
 }


 .get-row {
    position: relative;
 }

 .get-container >.get-row > .get-img{
    width: 85%;
     position: absolute; 
      top: -90px;
      left: 26px;
 }



 .get-space {
    width: 100%;
    height: 200px;
    margin-bottom: 35px;
    
 }

 .get-text {
    padding:  0px 20px;
 }


 .get-text > h4 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;    
    font-weight: 300;
 }

 .get-text > p {
    font-size: 14px;
    margin-bottom: 30px;    
    line-height: 1.65;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
 }

 .get-text > a{
    text-decoration: none;
    color: #303030;
    font-family: sans-serif;
    padding-bottom: 65px;
 }


 .get-img img {
    width: 100%;
 }


 .marketing{
    background-color: #f3f1ee;
 }


 .mark-container{
    width: 89%;
    margin: auto;
    display: flex;
    padding: 40px 0px;
    margin-bottom: 30px;
 }



 .mark-container>div:nth-child(1){
    width: 20%;
    margin: 0px auto;
 }

 .mark-container >div:nth-child(1) img{
    width: 90%;
    display: flex;
    padding: 0px 20px;
     margin: auto;
 }


 .mark-container >div:nth-child(2){
    width: 77%;
    margin: 0px auto;
 }

 
 .mark-row p {
    color: #303030;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.45;
    margin-bottom: 13px;
 }

 .mark-row > p > span{
    font-family: sans-serif;
 }

 .mark-row >p:nth-child(2){
font-size: 18px;
 padding-bottom: 12px;
 }
.mark-container >div:nth-child(2) img{
width: 250px;
}


.sell-product{
    width: 89%;
    margin: auto;
    margin-bottom: 70px;
}

.sell-product > h2{
    font-size: 35px;
    color: #303030;
    text-align: center;
    margin-bottom: 12px;
}

.sell-product > p {
    color: #303030;
    font-size: 13px;
    font-weight: lighter;
    width: 650px;
    margin: auto;
    text-align: center;
    line-height: 1.85;
    margin-bottom: 60px;
}

.sp-container {
    display: flex;
}

.sp-container > div {
    width: 45%;
    padding: 20px;
    margin: auto;
}




.sp-img > img {
    width: 86%;
}

.sp-row > div >  img{
  width: 40px;
  margin-right: 20px;
}

.sp-row > div > h4 {
    color: #303030;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sp-row > p {
    color: #303030;
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.99;
    padding: 0px 38px;

}

.sp-row a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    padding: 0px 38px;
}





.fa-cart-shopping, .fa-bullseye{
    font-size: 29px;
}



.online-con {
    width: 89%;
    margin: auto;
}

.online {
    display: flex;
    margin-bottom: 30px;
}

.online > div {
    width: 45%;
}


.on-img {
    width:100% ;
}


.on-img img {
    width: 100%;
}

.online-ro > p {
    color: #303030;
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.99;
    padding: 0px 50px;
}

.online-ro > a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    padding: 0px 50px;
}


.online-ro h4 {
    color: #303030;
    margin-bottom: 20px;
    margin-top: 20px;
}


.cta-content {
    width: 89%;
    margin: auto;
    margin-top: 80px;
}

.cta-content > .cta-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cta-img img {
    width: 70px;
}


.cta-content > h3 {
    text-align: center;
    font-size: 35px;
    color: #303030;
    font-weight: 300;
    margin-bottom: 12px;
}

.cta-content >div:nth-child(3){
   width: 700px;
   font-size: 13px;
   text-align: center;
   margin: auto;
   color: #303030;
   line-height: 1.85;
   margin-bottom: 35px;
   font-weight: 500
}

.cta-bt {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.cta-content a {
    text-decoration: none;
    border: 2px solid #303030;
    color: #303030;
    padding: 18px 28px;
    font-weight: bold;
}


.cta-content a:hover{
    color: #f3f1ee;
    background-color: #303030;
}

.cta-content a:nth-child(4){
    padding: 18px 48px;
}




.Ai-con{
    background-color: 
  #0033ff; 
  padding: 60px 0px;
}
.AI-row {
  width: 89%;
  margin: auto;
 
}





.row-pink {
    width:  42px;
    height: 6px;
    background-color: #ffa1a1;
   margin-bottom: 35px  ;
}



.row-clearfix {
    display: flex;
}

.row-clearfix > div{
    width: 33%;
    padding: 20px;
    margin: auto;
}

.row-clearfix > div >h4 {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 12px;
    color: #f3f1ee;
}

.row-clearfix > div > p{
    font-size: 12.22px;
    font-weight: 600;
    color: #f3f1ee;
    padding-bottom: 65px;
    line-height: 1.65;
}


.row-clearfix > div > a {
    border: 2px solid white;
    padding: 18px 27px;
    color: #f3f1ee;
    font-weight: bolder;
    text-decoration: none;
}

.footer{
    width: 89%;
    margin: auto;
    margin-top: 55px;
    padding-bottom: 55px;
}


.footer-icon {
    width:170px;
    padding-left: 25px;
    padding-bottom: 25px;
}


.dropdown-meny{
    margin-right: 20px;
}



.footer-link {
    display: flex;
    justify-content: space-around;
}

.footer-col > h4 {
    padding-bottom: 14px;
    color: #303030;
    font-weight: 500;
}


.footer-col  > ul > li {
    list-style-type: none;
    padding-bottom: 14px;
}

.footer-col  > ul > li> a {
    text-decoration: none;
    color: #303030;
    font-size: 10px;
  
}

.copywrite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: baseline;
    padding-top: 30px;

}

.footer-copyright{
    font-size: 10px;
    color: #303030;
}

.footer-dl > ul{
    display: flex;
    align-items: center;
}

.footer-dl > ul > li {
    list-style-type: none;
    margin-right: 12px;
}

.footer-dl > ul > li > a{
    text-decoration: none;
    color: #303030;
    font-size: 10px;
}


.footer-dl > ul > .menu > a {
    font-size: 26px;
}









@media screen  and (max-width:923px){
     

        nav {
            padding: 0px;
        }

        .wrapper{
            width: 100%;
            margin: 0;
            border: 1px solid rebeccapurple;
        }
    
        .black-hero{
            background-color: #303030; 
            background-image: none;       
            margin: 0px;
        
        }


        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: 100%;
        }
        .container > div{
            width: 100%;
        }

        .container >div > h1 {
        width: 100%;
        vertical-align: auto;
        padding: 0px;
        }

        .container > div > p {
            vertical-align: baseline;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.56;
        }


        nav ul li {
            display: none;
        }


        

        .con-img {
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            display: block;
        }

        .con-img > img{
            width: 100%;
        }
        
        .btn{
            display: flex;
            flex-direction: column;
            height : auto;
            gap: 20px;
            font-size: 18px;
        }


        .btn  >:nth-child(1){
            width: 85%;
            padding: 15px 20px;
            margin: auto;
            text-align: center;
        }
        .btn  >:nth-child(2){
            width: 85%;
            padding: 15px 20px;
            margin: auto;
            text-align: center;
        } 
}



@media screen and (max-width:400px){
    .btn {
        margin: a;
    }

    
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
        border: 1px solid red;
    }


    .container > div {
        padding: 0px 10px;
    };

    nav {
        background-color: royalblue;
    }

    .container > div > p {

        vertical-align: baseline;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        padding: 0px;
    }

    .btn{
        display: flex;
        flex-direction: column;
        height : auto;
        gap: 20px;
        font-size: 18px;
    }


     .btn  >:nth-child(1){
        width: 85%;
        padding: 15px 20px;
        margin: auto;
        text-align: center;
    }
    .btn  >:nth-child(2){
        width: 85%;
        padding: 15px 20px;
        margin: auto;
        text-align: center;
    } 
    
}
















