*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 nav{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 15px 0px;
    height: 70px;    
    height: auto;
 }

.wrapper {
    width: 89%;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
}



.mt {
    margin-top: 74px;
}


.nav-links {
    width: 50%;
}

.nav-button {
    width: 30%;
}

.wrapper .logo + ul {
    display: inline-flex;
    gap: 0px 20px;
}


.wrapper .nav-button ul {
    display: inline-flex;
}


.logo {
    width: 20%;
    height: 32px;
}

.logo > a >img {
    width: 162px;
    height: 32px;
}


.nav-links li a , .nav-button  a{
    color: #303030;
    text-decoration: none;
     padding: 15px 0px;
}


.nav-links > li> a{
    padding: 20px 0px;
}


.nav-links > li  > a:hover {
    color: #0041C2;
}



.logo + ul ,.nav-button ul{
    list-style-type: none;
}



.nbtn-link >  a{
    border: 1px solid #0041C2;
    padding: 5px 9px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 800;
}







.nbtn-link a:hover{
    background-color: #0041C2;
    border: 1px solid #0041C2;
    color: #ffffff;
}


.nbtn-link1 a{
    color: #ffffff;
    font-weight: 800;
     font-size: 12px;
    background-color: #0041C2;
    border: 1px solid #0041C2;
    padding: 7px 7px;
    margin-left: 8px;
}   

.nbtn-link1 a:hover {
    background-color: #ffffff;
    color: #0041C2;
    border: 1px solid #0041C2;
    
}




.fa-chevron-down{
   font-size: 6px;
}


 .product-menu{
    position: absolute;
    top: 47px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
} 

.content{
    width: 95%;
    height: 320px;
    padding: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.content > .row{
   border-right: lightgray;
   border-right-style: solid;
   border-right-width: 1px;
}

.content > .row:nth-child(3){
    border: none;
}




.nav-links > li:hover .product-menu{
    visibility: visible;
    opacity: 1;
}

.content{
    display: flex;
    background-color: #ffffff;
}

.content > .row{
  width: 33.33%;
  padding: 14px;
}
.content .row > ul>li {
    list-style-type: none;
}

.content p{
    color: #303030;
}

.row-head > a>p{
    text-decoration: underline;
    color: #303030;
}

.row-img {
    width: 80%;
    margin: auto; 
    margin-top: 20px; 
}


.row-img >img {
    width: 100%;
}


.row  p {
    font-size: 13px;
}

.row-head > p{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.row-head > :nth-child(2){
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 400;
}


.mega-links > li{
  margin-bottom: 20px;
}

.mrl {
    margin-right: 10px;
}

.min {
   margin-left: 2px;
   font-size: 7px;
   background-color: #fab702;
   padding: 2px;
}


.min1{
    margin-left: 2px;
    font-size: 7px;
    background-color: #00dba1;
    padding: 2px;
}

.row > ul > li  p:hover {
    color: #0041C2;
}






.solution-menu {
    position: absolute;
    top: 50px;
    z-index: 999;
    visibility: hidden;
    width: 45%;
    opacity: 0;  
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}



.solution-content{
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

.solution-content > .row {
    width: 50%;
    padding: 15px 20px;
    border-right: lightgray;
    border-right-style: solid;
    border-right-width: 1px;    
}  


.solution-content > .row:nth-child(2){
   border: none;
}

.solution-content > .row a:hover{
   color: #0041C2;
}


.row > ul > li {
    list-style-type: none;
}

.row> ul > li a{
    color: #303030;
}

.solution-content > .row > h3{
    margin-bottom: 20px;
    font-size: 13px;
    color: #303030;
}




.solution-content > .row >ul li{
    margin-bottom: 20px;
}


.nav-links > li:hover .solution-menu{
    visibility: visible;
    opacity: 1
}


.learn-menu{
    position: absolute;
    width: 95%;
    top: 50px;
    left: 0px;
   visibility: hidden;
   opacity: 0;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   background-color: #ffffff;
}

.nav-links >li:hover .learn-menu{
    visibility: visible;
    opacity: 1;
}


.learn-content{
    display: flex;
    height: 300px;
}

.learn-content > .row{
    width: 45%;
    padding: 20px 8px;
    border-right: lightgray;
    border-right-style: solid;
    border-right-width: 1px;    
}

.learn-content h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #303030;
}


.learn-content a {
    font-size: 13px;
    font-weight: 500;
}

.learn-content a:hover {
 color: #0041C2;
}

.learn-content >.row >ul li {
    margin-bottom: 15px;
}


.row-learn {
    margin-bottom: 40px;
}
.row-learn > p{
    font-size: 9px;
    color: #303030;
    font-weight:400;
    line-height: 1.66;
}

.learn-content .row-learn {
    margin-bottom: 20px;
}


.row-learn > p:nth-child(3){
   margin-top: 20px;
   text-decoration: underline;
   margin-bottom: 20px;
   font-size: 10px;
   color: #303030;
} 

.row-im {
    width: 80%;
    margin: auto;
}


.row-im > img {
    width: 100%;
}

.row-learn > a > p {
    color: black;
    text-decoration: underline;
    margin-top: 20px;
}

.row-learn > a > p:hover {
  color: #0041C2;
}

.fa-bars{
    display: none;
}




.promo-pricing {
    margin-top: 64px;
    padding: 3rem 0px;
}

.promo-pricing > h1 {
    font-size: 40px;
    font-weight: 600;
    width: 900px;
    text-align: center;
    margin: 0px auto;
    color: #303030;
}

.toggle-input{
    width: 80px;
    height: 40px;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type = "checkbox"].toggle-input{
    opacity: 0;
    position: absolute;
    top: -9999;
    left: -99999;
 }
 

 input[type = "checkbox"].toggle-input + label{
    position: relative;
    display: flex;
    align-items: center;
 }

 input[type = "checkbox"].toggle-input + label::before {
    content: "";
    width: 3.5rem;
    height: 1.6rem;
    background-color: #ffffff;
    border-radius: 1rem;
    margin-right: .25em;
    outline: 1px solid gray;
  }

  input[type = "checkbox"].toggle-input + label::before{
   outline: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  input[type = "checkbox"].toggle-input + label::after {
    position: absolute;
    content: '';
    left: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #9c9c9c;
    border-radius: 1em;
    margin-right: .25em;
  }




  
  input[type = "checkbox"].toggle-input:checked + label::after {
    left: 2em;
    background-color:  #9c9c9c;
  }


  .wrap {
    width: 89%;
    margin: auto;
  }


  .billed-manually::before {
    content: '';
    margin-right: 8px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #ffa1a1;
    border-radius: 20px;
  }


  .box-model {
    display: flex;
    gap: 10px;
    margin-top: 85px;
  }

  .box-con {
    position: relative;
  }
  .box-model > div {
    width: 31%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0px auto;
    padding: 0px 9px;
    padding-bottom: 60px;
  }

  .mrl {
    margin-right: 10px;
  }




  .es {
    width: 200px;
    height: 90px;
  }


  .box-con > img {
    width: 60%;
    position: absolute;
    top: -60px;
    left: 15px;
    z-index: 120;
  }


  .box-con > h5 {
  color: #303030;
  font-size: 22px;
   padding-bottom: 18px;
  }

  .box-con > h2 {
    color: #303030;
    font-size: 40px;
     padding-bottom: 22px;
  }

  .box-con > h2 > .box-samll{
    font-size: 10px;
  }


  .box-con > p {
    font-size: 14px;
    color: #303030;
    font-style: italic;
    padding-bottom: 20px;
  }


.box-con ul li {
    list-style-type: none;
}  


.box-link > li > p{
    font-size: 13px;
    color: #303030;
    padding-bottom: 12px;
    font-weight: 500;
}


.box-link > li > a {
    text-decoration: none;
}



.box-link > li > p > a{
    text-decoration: none;
    font-size: 6px;
    border: 1px solid grey;
    width: 5px;
    height: 7px;
    background-color: #ddd;
    border-radius: 20px;
    padding: 1px;
}


 .box-btn > a {
    text-decoration: none;
    padding:  15px 17px; 
    color: white;
    font-weight: bold;
    background-color: #0033ff;
}


.box-con > a:hover{
    background-color: #0041C2;
}


.small-n {
    font-weight: bolder;
}


.box-model >div:nth-child(1) > .box-btn{
   margin-top: 85px;
}


.box-model >div:nth-child(2) > .box-btn , .box-model >div:nth-child(3) > .box-btn{
    margin-top: 52px;
}


.box-model >div:nth-child(4) > .box-btn > a {
    background-color: #ffa1a1;
    color: #303030;
}

.box-model >div:nth-child(4) > .box-btn{
    margin-top: 19px;;
}  


.mid-btn {
    margin: 0px auto;
    width: 230px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.mid-btn> a{
    text-decoration: none;
    padding: 20px;
    border: 2px solid #0041C2;
    color: #0041C2;
    font-weight: 600;
}


.mid-btn >a:hover{
    background-color:#0033ff;
    color: #ffffff;
}

.bt {
    background-color: #303030;
    padding: 60px;
}

.bt > .wrap > h2{
    font-size: 41px;
    text-align: center;
    color: white;
    padding-bottom: 19px;
}


.bt>.wrap>.title{
    font-size: 13.55px;
    color: white;
    width: 620px;
    margin: auto;
    text-align: center;
    line-height: 1.65;
    font-weight: 400;
    padding-bottom: 20px;
}


.bt-row {
    display: flex;
    justify-content: space-between;
}


.bt-row > div {
    color: #ffffff;
    width: 28%;
    padding: 20px 0px;
    text-align: center;
}

.bt-row > div > h4 {
    font-weight: bolder;
    padding-bottom: 17px;
}

.bt-row > div > .bt-value {
    font-size: 65px;
    padding:  0px 0px;
    color: #ffa1a1;
    margin-bottom: 15px;
}


.bt-s{
    font-size: 13.60px;
    width: 200px;
    line-height: 1.45;
    font-weight: 500;
}


.bt-logo {
    display: flex;
   gap: 20px;
   margin-top: 30px;
}

.bt-logo > div {
    width: 19%;
    margin: auto;
}


.bt-logo > div > img {
    width: 100%;
}


.question-ask {
    text-align: center;
    padding: 60px 0px;
    color: #303030;
    background-color: #f9f8f7;
}

.q-i {
    font-size: 16px;
}























.footer{
    width: 89%;
    margin: auto;
    margin-top: 55px;
    padding-bottom: 55px;
}


.footer-icon {
    width:170px;
    padding-left: 25px;
    padding-bottom: 25px;
}


.dropdown-meny{
    margin-right: 20px;
}



.footer-link {
    display: flex;
    justify-content: space-around;
}

.footer-col > h4 {
    padding-bottom: 14px;
    color: #303030;
    font-weight: 500;
}


.footer-col  > ul > li {
    list-style-type: none;
    padding-bottom: 14px;
}

.footer-col  > ul > li> a {
    text-decoration: none;
    color: #303030;
    font-size: 10px;
  
}

.copywrite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: baseline;
    padding-top: 30px;

}

.footer-copyright{
    font-size: 10px;
    color: #303030;
}

.footer-dl > ul{
    display: flex;
    align-items: center;
}

.footer-dl > ul > li {
    list-style-type: none;
    margin-right: 12px;
}

.footer-dl > ul > li > a{
    text-decoration: none;
    color: #303030;
    font-size: 10px;
}


.footer-dl > ul > .menu > a {
    font-size: 26px;
}
